apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "service-deployment.labels" . | nindent 4 }}
  annotations:
    {{- include "service-deployment.resourceAnnotations" . | nindent 4 }}
spec:
  hostnames:
  {{- range .Values.hosts }}
  - {{ . | quote }}
  {{- end }}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: gateway
    namespace: {{ .Release.Namespace }}
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: {{ .Release.Name }}
      port: {{ .Values.service.externalPort }}
    matches:
    - path:
        type: PathPrefix
        value: /
