<configuration scan="true" scanPeriod="1 seconds">
  <property scope="context" name="HOSTNAME" value="${HOSTNAME}"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
         %replace(%replace(%replace(%replace(%replace(%level){"INFO", "::info::"}){"DEBUG", "::debug::"}){"WARN", "::warn::"}){"ERROR", "::error::"}){"TRACE", "::trace::"}%date %green(%msg) %n
      </pattern>
    </encoder>
  </appender>
  <logger name="software.amazon.awssdk" level="info"/>
  <logger name="org.hibernate.validator" level="error"/>
  <root level="${LOG_LEVEL:-info}">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
