# Will make all fields private (instead of package-private) by default in any class
lombok.fieldDefaults.defaultPrivate = true
# Will have to annotate all non-final fields with @NonFinal explicitly
lombok.fielddefaults.defaultfinal = false
# Exclude lombok generated classes from test cases
lombok.addLombokGeneratedAnnotation = true
# to add support for Named annotations with RequiredArgsConstructor
lombok.copyableAnnotations += com.google.inject.name.Named

