name: main release

on:
  workflow_dispatch:
    inputs:
      component:
        description: 'Component to release (leave empty to check all)'
        required: true
        default: 'test-component-1'

jobs:
  changed:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest

    env:
        version_path: .version
        BASE_REF: release-workflow
        VERSION_FILE: version.json
        COMPONENT: ${{ github.event.inputs.component }}
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect version change (PR)
        id: component_version
        run: |     
            file="$COMPONENT/$VERSION_FILE"

            # checking if version.json is present or not
            if [[ ! -f "$file" ]]; then
                echo "File '$file' not found in working tree."
                {
                echo "changed=false"
                echo "reason=missing_current_file"
                } >> "$GITHUB_OUTPUT"
                exit 0
            fi

            old_json=$(git show "${{env.BASE_REF}}:$file" 2>/dev/null || true)
            if [[ -z "$old_json" ]]; then
                old=""
            else
                old=$(printf '%s' "$old_json" | jq -r "$version_path")
            fi
            new=$(jq -r "$version_path" "$file")

            echo "old=$old" >> "$GITHUB_OUTPUT"
            echo "new=$new" >> "$GITHUB_OUTPUT"

            echo "changed=$([ "$old" != "$new" ] && echo true || echo false)" >> "$GITHUB_OUTPUT"

            echo "done"

      - name: version changed
        id: version_changed
        run: |
            if [ -z "${{ steps.component_version.outputs.changed }}" ]; then
                echo "No version change detected."
                exit 0
            else
                echo "Version change detected for component: ${{ steps.component_version.outputs.changed }}"
            fi

      - name : check if release is needed
        id: already
        run: |
            set -euo pipefail
            echo "Release needed for component: $COMPONENT"

            TAG="${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
            echo "${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
            
            # Make sure we see all remote tags

            if git show-ref --tags --quiet --verify -- "refs/tags/$TAG"; then
                echo "exists=true"  >> "$GITHUB_OUTPUT"
                echo "source=git-tag" >> "$GITHUB_OUTPUT"
                exit 0
            fi

            if gh release view "$TAG" >/dev/null 2>&1; then
                echo "exists=true"  >> "$GITHUB_OUTPUT"
                echo "source=github-release" >> "$GITHUB_OUTPUT"
            else
                echo "exists=false" >> "$GITHUB_OUTPUT"
                echo "source=none"  >> "$GITHUB_OUTPUT"
            fi

      - name: Fail if duplicate
        if: steps.already.outputs.exists == 'true'
        run: |
            TAG="${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
            echo "A release for tag '$TAG' already exists (via ${{ steps.already.outputs.source }})."
            exit 1
          
      # - name: Create GitHub release
      #   uses: softprops/action-gh-release@v2
      #   env:
      #        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #       tag_name: "${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
      #       name: "${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
      #       commitish: ${{env.BASE_REF}}   # or 'main' or a SHA that exists on GitHub

        
      # - name: check release created
      #   run: |
      #       set -euo pipefail
      #       TAG="${{env.COMPONENT}}-${{ steps.component_version.outputs.new}}"
      #       echo $TAG

      #       if git show-ref --tags --quiet --verify -- "refs/tags/$TAG"; then
      #           echo "exists=true"  >> "$GITHUB_OUTPUT"
      #           echo "source=git-tag" >> "$GITHUB_OUTPUT"
      #           exit 0
      #       fi

      #       if gh release view "$TAG" -R "${{env.BASE_REF}}" >/dev/null 2>&1; then
      #           echo "Release for tag '$TAG' successfully created."
      #       else
      #           echo "Failed to create release for tag '$TAG'."
      #           exit 1
      #       fi

    #   - name: Get release titles (exclude drafts/prereleases)
    #     id: titles
    #     env:
    #         GITHUB_TOKEN: ${{ github.token }}
    #     run: |
    #         titles=$(gh release list --exclude-drafts --exclude-pre-releases -L 200 \
    #         --json name,tagName --jq '.[] | (.name // .tagName)')
    #         {
    #         echo 'titles<<EOF'
    #         echo "$titles"
    #         echo 'EOF'
    #         } >> "$GITHUB_OUTPUT"
